<footer class="page-footer orange accent-4">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">¿TIENES DUDAS?</h5>
          <p>Teléfono de Contacto:</p>
          <h5 class="grey-text text-lighten-4">+54 9 11 3194 - 7761</h5>
        </div>
        <div id="navegador" class="col l5 offset-l2 s12">
          <h5 class="white-text">SÍGUENOS</h5>
          <ul style="list-style-type: none">
            <li><a class="grey-text text-lighten-3 icon-facebook-squared" href="https://www.facebook.com/lajugueteriadepapa">Facebook</a></li>
            <li><a class="grey-text text-lighten-3 icon-instagram-2" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3 icon-twitter" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright orange darken-4">
      <div class="container">
      © 2018 Copyright. La Juguetería de Papá. Todos los derechos reservados, tambien los izquierdos.
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
</footer>
