<div class=" navbar-fixed">
    <nav class="nav-extended orange accent-3">
            
            <div class="nav-wrapper">
           
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>                
                <li><a href="#">Contacto</a></li>
            </ul>
            </div>
            
            
            <div class="nav-content orange accent-4">
                    <div class="nav-title">
                        <h1 class="centrado green-text text-accent-4">La Juguetería de Papá</h1>
                    </div>
            </div>
            <img id="logo" src="../../img/mario.png">
    </nav>
    
</div>


