<div class="navbar-fixed">
    <nav class="orange accent-3">
            <div class="nav-wrapper">
            <a href="/" class="brand-logo center"><i class="material-icons">local_offer</i>La Juguetería de Papá</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>                
                <li><a href="#">Contacto</a></li>
            </ul>
            </div>
    </nav>
</div>
<img src="img/mario.png" width="250">

<!--<link rel="stylesheet" href="css/estilos.css">
<section>
    <div class="contenedor">
        <h1 class="icon-gift">La Juguetería</h1>
        <input class="ninguna" type="checkbox" id="menu-bar">
        <label class="icon-menu"for="menu-bar"></label>
        <ul class="menu">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/productos">Juguetes</a>
            </li>
            <li>
                <a href="">Personajes</a>
            </li>
            <li>
                <a href="">Contacto</a>
            </li>
        </ul>
    </div>

</section>-->
