<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
        <% include ./partials/menu %>
        <% include ./partials/banner %>       
    </head>
    <body class="grey lighten-5">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <a href="/categoria/nenas/">
                            <div class="box-category">
                                <h2 id="nene">Nenas</h2>
                                <p id="nene">¡VER JUGUETES!</p>
                                <img class="center" src="img/A_kiss_from_the_princess.png" width="300" height="370">
                            </div>
                        </a>
                    </div>
                    <div class="col s6">
                        <a href="/categoria/nenes/">
                            <div class="box-category">
                                <h2 id="nene">Nenes</h2>
                                <p id="nene">¡VER JUGUETES!</p>
                                <img class="center" src="img/kid_goku.png" width="300">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <% include ./partials/footer %> 
    </body>
</html>