@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(menu.css);
@import url(categorias.css);
@import url(banner.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nene{
    text-align: center;
    vertical-align: middle;
    
}

#navegador ul{
    list-style-type: none;
    
}

#navegador li{
    display: inline;   
    margin: 0 10px 0 0;
    font-size: 18px;
}

#logo{
    position: absolute;
    top: -25px;
    left: 200px;
    width: 170px; 
}

.box-category{
    
    display: block;    
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centrado{
    position: absolute;
    left: 400px;
    top: -42px;
}

@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}

@media (min-width:768px){
    .sociales{
        width: auto;
    }

    footer .contenedor{
        justify-content: space-between;
    }
}